@import './animations.css';
@import './header-dots-container.css';

header {
  position: relative;
  background-image: url(../assets/sunset-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 36px 36px 0;
}

header h1 {
  text-transform: uppercase;
  font-weight: bold;
}

header p {
  font-size: 18px;
  margin-top: 0;
}

header i {
  margin-top: 24px;
  animation: levitate 2s infinite;
  cursor: pointer;
}
